{% extends "base.html" %}

{% block title %}
<title>{% if section.title %}{{ section.title }} – {% endif %}{{ config.extra.name }} – {{ config.extra.description }}</title>
{% endblock title %}

{% block content %}
<div class="description">
  <p class="term"> > cypherbeep.website :: ~/ $ ls -l<span class="text"></span>
    <ul class="output">
      <li><a href="{{ config.base_url }}/blog">Blog/</a></li>
      <li><a href="{{ config.base_url }}/notes">Notes/</a></li>
      <li><a href="{{ config.base_url }}/resume">Resume/</a></li>
    </ul>
  </p>
  <p class="term"> > cypherbeep.website :: ~/ $ whoami<span class="text"></span>
   <p class="output">I am Sanad and this is my website which is under constructions so please come back after a few weeks.</p>
  </p>
</div>


{% endblock content %}