{% extends "base.html" %}

{% block title %}
<title>{% if section.title %}{{ section.title }} – {% endif %}{{ config.extra.name }} – {{ config.extra.description }}</title>
{% endblock title %}

{% block content %}
<div class="description">
    ... a collection of lil' bits by me, notryanb. Most of these posts will be
    related to programming [rust, ruby, javascript, c(#, ++)]. Oh yeah, I build tube amplifiers
    and synths, so there might be some of those ramblings too.
</div>
  {{ section.content|safe }}
{% endblock content %}